

{% extends 'base.html' %}
{% load layout_map_tags %}



{% block style %}

.show-layout{
    display: none;
}

.selected{

    fill:green;
}


{% endblock %}

{% block main %}

<div class="container-fluid" style="background: grey">

<h1> {{ object.name }}</h1>

<h3> {{ object.conducted_on }} in {{ object.location }}</h3>

<p>{{ object.description }}</p>

<button class="booking">Book Now</button>

</div>

<div class="container show-layout">
    <div class="row">
        <div class="col-md-6">
            {{ object.layout.layout_map.read | svg }}

        </div>
        <div class="col-md-6 summary">
            <h1>summary</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"> Seat selected </th>
                        <th scope="col"> price </th>
                    </tr>
                </thead>
                <tbody class ="status">


                </tbody>

            </table>
            <button class="btn btn-primary" style="align-content: right">Continue</button>
        </div>


    </div>
</div>



{% endblock %}



{% block js %}

$( document ).ready(function() {

    $(".booking").click(function(){

        $(".show-layout").show();
     });

     var selected_hall = [];
     var selected = $(".status")

     $(".hall").on('click', function(){

        if($(this).hasClass('selected')){

            $(this).removeClass('selected');
            var index = selected_hall.indexOf($(this).attr('id'));
            if (index !== -1) selected_hall.splice(index, 1);
            var id = $(this).attr('id')

            $("table td").filter(function(){
            if ($(this).text() == id){
                $(this).parents("tr").remove()
        }

        });



    }
    else{

        $(this).addClass('selected');
        var hall_id = $(this).attr('id')
        var available = selected_hall.includes(hall_id)

        if (!available){
            selected_hall.push(hall_id);

    }
        get_price(hall_id, selected)



    }

 });

 $(".hall").mouseenter(function(){

    $(this).tooltip("show");


});



});


function get_price(id, element){

     $.ajax({
        url:'ajax/get_price/',
        data: {'hall_id': id, 'event':'{{ object.name }}' },
        datatype: 'json',
        success : function(data){

            element.append("<tr><td>" + data['hall_id'] + "</td><td>" + data['price'] +"</td></tr>")
    }

    });

};


function add_html(arr, element){

        element.empty();
        var add_html = "";
        for(var i=0;i< arr.length;i++){

            add_html += "<tr><td>" + arr[i] + "</td>"

            get_price(arr[i], element)
    }
    element.append(add_html);


};



{% endblock %}
